@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  transition: all 0.4s ease;
  background-color: white;
}

nav.sticky {
  padding: 15px 20px;
  background: #4070f4;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

nav .nav-content {
  height: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo p {
  font-weight: 500;
  font-size: 35px;
  color: #4070f4;
}

nav .logo p:hover {
  color: #16171a;
  transition: all 1s;
  cursor: pointer;
}

nav.sticky .logo p {
  color: #fff;
  
}

.nav-content .nav-links {
  display: flex;
}

.nav-content .nav-links li {
  list-style: none;
  margin: 0 8px;
}

.nav-links li a,
.nav-links li p { 
  text-decoration: none;
  color: #0E2431;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 4px;
  transition: all 0.3s ease;
}

.nav-links li a:hover,
.nav-links li p:hover {
  color: #4070f4;
  cursor: pointer;
}

nav.sticky .nav-links li a,
nav.sticky .nav-links li p { 
  color: #fff;
  transition: all 0.4s ease;
}

nav.sticky .nav-links li a:hover,
nav.sticky .nav-links li p:hover { 
  color: #0E2431;
}

.home {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h2 {
  font-size: 30px;
  margin-bottom: 6px;
  color: #4070f4;
}

.text {
  text-align: justify;
  padding: 40px 80px;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
}

.test{
  text-decoration: none;
  color: #0E2431;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 4px;
  transition: all 0.3s ease;
}


@media (max-width: 700px) 
{
  .nav-content .nav-links li {
    margin: 8px 0; /* Ajustar el espaciado entre los elementos de la lista */
  }

  .nav-links li a,
  .nav-links li p { 
    font-size: 16px; /* Reducir el tamaño de la fuente de los enlaces */
    padding: 8px 10; /* Reducir el padding de los enlaces */
  }

  nav .logo p {
    font-size: 14px; /* Reducir el tamaño de la fuente del logo */
    margin-bottom: 10px; /* Espacio entre el logo y el menú */
  }

  
}
