<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <div class="about-me-card">
        <div class="about-me-header">
          <h2>Quien soy</h2>
        </div>
        <div class="about-me-body">
          <img src="https://firebasestorage.googleapis.com/v0/b/tp-juegos-labo4.appspot.com/o/perfil.jpeg?alt=media&token=94aac8c0-ba09-4f57-a1a2-6b0cf2a923ec" alt="Profile Picture" class="profile-img">
          <p class="description">
            Hola! Soy Matias Skenen.<br><br>
            Estudiante en Tecnicatura Superior en Programación.<br><br>
            Mi especial interés está en la ciberseguridad.<br><br>

            <b>Juego Propio:</b><br>

            El juego cuenta con un cronómetro que limita la cantidad de tiempo disponible para encontrar al personaje, lo que lo convierte en un reto divertido 
            y dinámico. <br><br>

            Si el jugador logra hacer clic sobre el personaje antes de que el tiempo se agote, gana la partida; de lo contrario, el juego termina.
          </p>
          
        </div>
        <div class="social-media">
          <a href="https://twitter.com/tu_perfil" target="_blank" class="social-icon">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://linkedin.com/in/tu_perfil" target="_blank" class="social-icon">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://github.com/tu_perfil" target="_blank" class="social-icon">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
</body>