html, body {
    height: 90vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #1a163f, #302b63, #b06dbd);
  }
  
  .about-me-card {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
  }
  
  .about-me-header {
    text-align: center;
  }
  
  .about-me-header h2 {
    margin: 0;
    color: #333;
    font-size: 2rem;
    font-weight: 700; 
  }
  
  .about-me-body {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .profile-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10%;
    padding: 5px;
  }
  
  .description {
    font-size: 1.1rem; 
    color: #444; 
    line-height: 1.6; 
    font-weight: 400; 
  }
  
  .social-media {
    margin-top: 20px;
    text-align: center;
  }
  
  .social-icon {
    display: inline-block;
    margin: 0 10px;
    color: #333;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease; 
  }
  
  .social-icon:hover {
    color: #007bff;
  }
  