html, body {
    height: 90vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
  }
  
  .about-me-card {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    padding: 20px;
    font-family: 'Roboto', sans-serif; /* Fuente moderna */
  }
  
  .about-me-header {
    text-align: center;
  }
  
  .about-me-header h2 {
    margin: 0;
    color: #333;
    font-size: 2rem; /* Tamaño más grande para el encabezado */
    font-weight: 700; /* Negrita */
  }
  
  .about-me-body {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .profile-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10%;
    padding: 5px;
  }
  
  .description {
    font-size: 1.1rem; /* Tamaño de fuente ligeramente mayor */
    color: #444; /* Color de texto un poco más oscuro */
    line-height: 1.6; /* Espaciado entre líneas ajustado */
    font-weight: 400; /* Peso de fuente normal */
  }
  
  .social-media {
    margin-top: 20px;
    text-align: center;
  }
  
  .social-icon {
    display: inline-block;
    margin: 0 10px;
    color: #333;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease; /* Transición suave para el cambio de color */
  }
  
  .social-icon:hover {
    color: #007bff;
  }
  