<body>
    <div class="container">

      <div *ngIf="mostrarResultado" class="container-resultado">
        <p class="resultado">{{resultadoJuego}}</p>
      </div>

      <h1>Juego Mayor o Menor</h1>
      
      <div id="game">
  
        <div class="buttons">
          <button id="mayor" (click)="validarMayor()">Mayor</button>
          <button id="menor" (click)="validarMenor()">Menor</button>
        </div>
  
        <div id="result"></div>
      </div>
      
      <div *ngIf="cartasJugador.length > 0"></div>


      <div class="cartas">
        <div *ngFor="let carta of cartasJugador">
          <img [src]="carta.image">
        </div>
        <p *ngIf="resultadoBool">{{resultado}}</p>
      </div>
      <button id="iniciarJuego" (click)="iniciarJuego()">Iniciar Juego</button>
    </div>

    <div class="puntuacion">
      <p>Puntuacion</p>
      <h1>{{ puntuacion }}</h1>
    </div>
    <div class="vidas">
      <p>Vidas</p>
      <h1>{{ vidas }}</h1>
    </div>
  


  </body>
