<body>
    <div class="container">
      <h1>Juego Mayor o Menor</h1>
  
      <div id="game">
  
        <div class="buttons">
          <button id="mayor" (click)="validarMayor()">Mayor</button>
          <button id="menor" (click)="validarMenor()">Menor</button>
        </div>
  
        <div id="result"></div>
      </div>
      
      <div *ngIf="cartasJugador.length > 0"></div>


      <div class="cartas">
        <div *ngFor="let carta of cartasJugador">
          <img [src]="carta.image">
          <h3>Cartas Robadas:</h3>
        </div>
        <p *ngIf="resultadoBool">{{resultado}}</p>
      </div>
      <button id="iniciarJuego" (click)="iniciarJuego()">Iniciar Juego</button>
    </div>
  


  </body>
