<body>
  <div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
      <header>Login</header>
      <form action="#">
        <input type="text" [(ngModel)]="email" placeholder="Ingrese su Email" name="email">
        <input type="password" [(ngModel)]="password" placeholder="Ingrese su Contraseña" name="password">
        <input type="button" (click)="loginUser()" class="button" value="Iniciar Sesión">
        
        <!-- Condiciones de ejemplo (debes adaptarlas a Angular si no lo están) -->
        <p *ngIf="loggedUser !== ''">Usuario Registrado</p>
        <p *ngIf="flagError">{{msjError}}</p>
      </form>

      <div class="botones">
        <button type="button" class="botones-autocompletar" (click)="autocompletar('matias.skenen@gmail.com', '123456')">Usuario 1</button>
        <button type="button" class="botones-autocompletar" (click)="autocompletar('lucasmansini@gmail.com', '123456')">Usuario 2</button>
        <button type="button" class="botones-autocompletar" (click)="autocompletar('jorge@gmail.com', '123456')">Usuario 3</button>
      </div>

      <div class="signup">
        <button class="signup" (click)="redirectToSignIn()">Registrarse</button>
      </div>
    </div>

    <!-- Loader centrado y controlado con *ngIf -->
    <div class="loader-container" *ngIf="isLoading">
      <span class="loader"></span>
    </div>
  </div>
</body>