<body>
  <div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
      <header>Registrarse</header>
      <form [formGroup]="form" (ngSubmit)="enviarForm()">

        <div class="row">
          <div class="form-control-group col-5">
            <label class="form-label" for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" formControlName="nombre">
            <ng-container *ngIf="nombre?.hasError('pattern')">
              <small class="text-danger">Sólo debe contener solo letras</small>
            </ng-container>
          </div>
        </div>

        <div class="row">
          <div class="form-control-group col-5">
            <label class="form-label" for="mail">Mail</label>
            <input type="email" class="form-control" id="mail" formControlName="mail">
            
            <ng-container *ngIf="mail?.hasError('mail')">
              <small class="text-danger">Formato inválido</small>
            </ng-container>
          </div>
        </div>
  
        <div class="form-control-group col-5">
          <label class="form-label" for="edad">Edad</label>
          <input type="number" class="form-control" id="edad" formControlName="edad">
          <ng-container *ngIf="edad?.hasError('min')">
            <small class="text-danger">Debe ser mayor de edad</small>
          </ng-container>
        </div>
        
  
        <div class="row">
          <div class="form-control-group col-5">
            <label class="form-label" for="clave">Clave</label>
            <input type="password" class="form-control" id="clave" formControlName="clave" [(ngModel)]="password">
            <ng-container *ngIf="clave?.hasError('minlength')">
              <small class="text-danger">
                La clave debe tener mínimo {{clave?.getError('minlength').requiredLength}} caracteres
              </small>
            </ng-container>
          </div>
  
          <div class="form-control-group col-5">
            <label class="form-label" for="repiteClave">Repite clave</label>
            <input type="password" class="form-control" id="repiteClave" formControlName="repiteClave">
            <small class="text-danger">
              {{repiteClave?.getError('noCoincide')}}
            </small>
          </div>
        </div>

        <input type="button" (click)="register()" class="button" value="Registrarse">
        
        <!-- Condiciones de ejemplo (debes adaptarlas a Angular si no lo están) -->
        <p *ngIf="loggedUser !== ''">Usuario Registrado</p>
        <p *ngIf="flagError">{{msjError}}</p>
      </form>

      <div class="botones">
        <button type="button" class="botones-autocompletar" (click)="autocompletar('matias.skenen@gmail.com', '123456')">Usuario 1</button>
        <button type="button" class="botones-autocompletar" (click)="autocompletar('lucasmansini@gmail.com', '123456')">Usuario 2</button>
        <button type="button" class="botones-autocompletar" (click)="autocompletar('jorge@gmail.com', '123456')">Usuario 3</button>
      </div>

      <div class="signup">
        <button class="signup" (click)="redirectToLogin()">Iniciar Sesion</button>
      </div>
    </div>

    <!-- Loader centrado y controlado con *ngIf -->
    <div class="loader-container" *ngIf="isLoading">
      <span class="loader"></span>
    </div>

    <form [formGroup]="form" (ngSubmit)="enviarForm()">

          <input type="email" class="form-control" id="mail" formControlName="mail">


    </form>

  </div>

  

</body>