<body>
  <div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
      <header>Registrarse</header>
      <form action="#">
        <input type="text" [(ngModel)]="email" placeholder="Ingrese su Email" name="email">
        <input type="password" [(ngModel)]="password" placeholder="Ingrese su Contraseña" name="password">
        <input type="button" (click)="register()" class="button" value="Registrarse">

        @if (loggedUser != "")
        {
          <p>Usuario Registrado</p>
        }
        @if (flagError)
        {
          <p>{{msjError}}</p>
        }

      </form>
      
      <div class="botones">
        <button type="button" class="botones-autocompletar" (click)="autocompletar('matias.skenen@gmail.com', '123456')">Usuario 1</button>
        <button type="button" class="botones-autocompletar" (click)="autocompletar('lucasmansini@gmail.com', '123456')">Usuario 2</button>
        <button type="button" class="botones-autocompletar" (click)="autocompletar('jorge@gmail.com', '123456')">Usuario 3</button>
      </div>

      <div class="signup">
        <button (click)="redirectToLogin()">
          Inciar Sesion
        </button>
      </div>
    </div>
  </div>
</body>
