<body>
    <div class="container">
        <div class="loader-container" *ngIf="isLoading">
            <span class="loader"></span>
        </div>

        <div class="timer">
            Tiempo: {{ getFormattedTime() }}
        </div>
        <div class="timer">
            Puntuaje: {{ puntuacion }}
        </div>
        <div *ngIf="resultado" class="timer">
            Resultado: {{ resultado }}
        </div>

        <div class="image-container">
            <img #mainImage src="{{ imagen }}" alt="Descripción del juego" class="game-image main-image">
            <img 
                (click)="jugador()"
                src="{{ imagenjugador }}" 
                alt="Descripción del jugador" 
                class="game-image player-image" 
                [ngStyle]="{'top.px': playerPosition.y, 'left.px': playerPosition.x}"
                *ngIf="juegoinica"
            >
        </div>

        <button class="start-button" (click)="startTimer()">Iniciar Juego</button>
    </div>
</body>
